#sidebar{
  display: block;
  background-color: #E8E8E8;
  float: left;
  width : 14em;
  height : 73em;
  padding: 10px 20px 0px 30px;
  /*-webkit-print-color-adjust: exact;*/
}

#side-list{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: expanded;
  line-height: 1.5;
  list-style-position: inside;
  padding-left: 0;
  list-style: none;
}

#side-list-italics{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: inherit;
  color: #585858;
  font-style: italic;
}

#side-header{
  text-align: left;
  font-size: 1em;
  font-weight: 500;
  font-stretch: expanded;
  font-family: 'Source Sans Pro', sans-serif;
}

#title{
  text-align: left;
  font-size: 2em;
  font-weight: 500;
  font-stretch: expanded;
  font-family: 'Source Sans Pro', sans-serif;
}

#main{
  display: block;
  float: left;
  width : 35em;
  height : 55em;
  padding: 0px 20px 0px 30px;
}

#main-header{
  text-align: left;
  font-size: 1em;
  font-weight: 500;
  font-stretch: expanded;
  font-family: 'Source Sans Pro', sans-serif;
  list-style-position: inside;
  padding-left: 0;
}

#sub-main-header{
  text-align: left;
  font-size: .8em;
  font-weight: 500;
  font-stretch: expanded;
  font-family: 'Source Sans Pro', sans-serif;
  list-style: none;
  padding-left: 0;
  list-style-position: inside;
}

#sub-main-header-location{
  font-size: .8em;
  font-weight: 500;
  font-stretch: expanded;
  font-family: 'Source Sans Pro', sans-serif;
  list-style: none;
  padding-left: 0;
  list-style-position: inside;
  color: #808080;
  font-style: italic;
}

#info{
  display: inline-block;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: .6em;

}

#date{
  display: inline-block;
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: .6em;
}

#place{
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: .6em;
  float: left
}

#block{
  display: inline-block;
  float: left;
  width : 35em;
}


.sideblock{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: 1em;
  text-align: center;
  padding: 15px 0px 15px 30px;
}

.mainblock{
  clear: both;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: 1em;
}

div{
  padding: 5px 0px 5px 0px;
  display: inline-block;
    }
