#sidebar{
  display: block;
  background-color: #D3D3D3;
  float: left;
  width : 12em;
  height : 65em;
  padding: 0px 10px 0px 10px;
}

#side-list{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: .6em;
  list-style-position: inside;
  padding-left: 0;
  list-style: none;
}

#side-header{
  text-align: left;
  font-size: 1em;
  font-weight: 500;
  font-stretch: expanded;
  font-family: 'Source Sans Pro', sans-serif;
}

#title{
  text-align: left;
  font-size: 2em;
  font-weight: 500;
  font-stretch: expanded;
  font-family: 'Source Sans Pro', sans-serif;
}

#main{
  display: block;
  float: left;
  width : 35em;
  height : 60em;
  padding: 0px 5px 0px 5px;
}

#main-header{
  text-align: left;
  font-size: 1em;
  font-weight: 500;
  font-stretch: expanded;
  font-family: 'Source Sans Pro', sans-serif;
  list-style-position: inside;
  padding-left: 0;
}

#sub-main-header{
  text-align: left;
  font-size: .8em;
  font-weight: 500;
  font-stretch: expanded;
  font-family: 'Source Sans Pro', sans-serif;
  list-style: none;
  padding-left: 0;
  list-style-position: inside;
}

#sub-main-header-location{
  font-size: .8em;
  font-weight: 500;
  font-stretch: expanded;
  font-family: 'Source Sans Pro', sans-serif;
  list-style: none;
  padding-left: 0;
  list-style-position: inside;
  color: #808080;
  font-style: italic;
}

#info{
  display: inline-block;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: .6em;

}

#date{
  display: inline-block;
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: .6em;
}

#place{
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: .6em;
  float: left
}

#block{
  display: inline-block;
  float: left;
  width : 35em;
}


.sideblock{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: 1em;
  text-align: center;
  padding: 0px 30px 0px 30px;
}

.mainblock{
  clear: both;
}

div{
  padding: 5px 0px 5px 0px;
  display: inline-block;
    }
