#sidebar{
  display: block;
  background-color: #D3D3D3;
  float: left;
  width : 12em;
  height : 60em;
  padding: 0px 20px 0px 20px;
}

#side-list{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: .6em;
}

#side-header{
  text-align: left;
  font-size: 1em;
  font-weight: 500;
  font-stretch: expanded;
  font-family: 'Source Sans Pro', sans-serif;
}

#title{
  text-align: left;
  font-size: 2em;
  font-weight: 500;
  font-stretch: expanded;
  font-family: 'Source Sans Pro', sans-serif;
  vertical-align: baseline;
  padding: 0px 20px 0px 20px;
}

#main{
  display: block;
  float: left;
  width : 45em;
  height : 60em;
  padding: 0px 20px 0px 20px;
}

#main-header{
  text-align: left;
  font-size: 1em;
  font-weight: 500;
  font-stretch: expanded;
  font-family: 'Source Sans Pro', sans-serif;
}
#sub-main-header{
  text-align: left;
  font-size: .8em;
  font-weight: 500;
  font-stretch: expanded;
  font-family: 'Source Sans Pro', sans-serif;
}

#info{
  display: inline-block;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: .6em;
}



#date{
  display: inline-block;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: .6em;
  
}

#block{
  display: inline-block;
  float: left;
}


.sideblock{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: 1em;
  text-align: center;
}

.mainblock{
  clear: both;

}

.link{
  color: #0645AD;
  text-decoration: underline;
}

div{
  padding: 5px 10px 5px 10px;
  display: inline-block;
    }
