#sidebar{
  display: block;
  background-color: #D3D3D3;
  float: left;
  width : 12em;
  height : 60em;
}

#side-list{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: .6em;
}

#side-header{
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  font-stretch: expanded;
  font-family: 'Source Sans Pro', sans-serif;
}

#title{
  text-align: left;
  font-size: 2em;
  font-weight: 500;
  font-stretch: expanded;
  font-family: 'Source Sans Pro', sans-serif;
}

#main{
  display: block;
  float: left;
  width : 40em;
  height : 60em;
}

#main-header{
  text-align: left;
  font-size: 1.5em;
  font-weight: 500;
  font-stretch: expanded;
  font-family: 'Source Sans Pro', sans-serif;
}
#sub-main-header{
  text-align: left;
  font-size: 1em;
  font-weight: 500;
  font-stretch: expanded;
  font-family: 'Source Sans Pro', sans-serif;
}

#info{
  display: inline-block;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: 1em;
}



.date{
  display: inline-block;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: .8em;
}


.sideblock{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-stretch: expanded;
  line-height: 1.5;
  font-size: 1em;
  text-align: center;
}
